.home {
  .glyphicon {
    top: 10px !important;
  }
  .glyphicon-home:before {
    font-size: 32px;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}
.navbar-default {
  background: #75b510;
  border:0;
  color: #fff;
  .navbar-nav > li {
    padding: 5px;
    &:focus {
      color: #fff;
    }
    &:hover {
      color: #fff;
      background: #e9124a;
    }
    &:active {
      background: #e9124a;
      color: #fff;
    }
    a {
      &:hover {
          color: #fff;
      }
    }
  }
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.right-nav {
  font-size: 24px;
  font-weight: normal;
  text-transform: lowercase;
  .nav>li>a{
    padding-top: 143px;
    &:hover {
      text-decoration: none;
      background: transparent;
    }
  }
}

.soliloquy-outer-container .soliloquy-container .soliloquy-caption .soliloquy-caption-inside {
  font-size: 50px;
  background: transparent;
  color: #004b9b;
  padding-bottom: 12%;
  text-align: left;
  padding-left: 20%;
}

.navbar-default .navbar-toggle {
    border-color: #004B9B;
}

.navbar-toggle {
    background-color: #004B9B;

}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover {
    background-color: #004B9B;
}
@media screen and (max-width: 900px) {
  .right-nav {
    .nav>li>a{
      padding-top: 5px;
    }
  }
}
